* {
    margin:0;
    padding:0;
    text-decoration: none;
    font-style: normal;
    list-style: none;
    font-family: 'Roboto, sans-serif';
}

.cboth:after {
    content: "";
    display: block;
    clear: both;
}
.fl {
    float: left;
}
.fr {
    float: right;
}

